<section>
  <h2>Shop</h2>
  <section>
    <h3>Socail Network Lining</h3>
    <p>
      <ul>
        <li>
          Facebook:
          <% if provider.nil? %>
            <%= link_to('[To Link]', user_facebook_omniauth_authorize_path) %>
          <% else %>
            <%= provider.uid %>
            <%= link_to('[Re-authorize]', user_facebook_omniauth_authorize_path) %>
            <ul>
            <% pages.each do |page| %>
              <li>
                <%= "#{page['name']} (#{page['id']})"%>
              </li>
            <%end %>
            </ul>
          <% end %>
        </li>
      </ul>
    </p>
  </section>
</section>
