<section>
  <h2>Rails e-Shop</h2>
  <article>
    <p>
      這是一個練習用的專案，目的是讓店家可以透過 Facebook 的聊天視窗，透過 chatbot 向消費者展示商品，並且讓消費者下單。
    </p>
    <p>
      因為這是一項練習用的專案，所以只實作核心功能而已。詳細的規格與完成項目可以參照
      <a href="https://github.com/fntsrlike/lab-rails-eshop" target="_blank">
        Github Repository (fntsrlike/lab-rails-eshop)
      </a>
      的
      <a href="https://github.com/fntsrlike/lab-rails-eshop/issues/6" target="_blank">
        Issue #6: Spec
      </a>
      。
    <p>
    <p>
      目前主要可以使用的功能如下：
    <p>
    <ul>
      <li>註冊帳號。</li>
      <li>
        帳號綁定 Facebook。
        <small class="text-danger">尚無法撤銷綁定</small>
      </li>
      <li>登入帳號。</li>
      <li>透過 Facebook 登入帳號。</li>
      <li>列出當前使用者授權的粉絲專頁清單。</li>
      <li>
        訂閱獲得授權的粉絲專頁，讓 chatbot 可以為其服務。
        <small class="text-danger">尚無法撤銷訂閱</small>
      </li>
      <li>
        管理商品，包括清單、新增、編輯、刪除。
      </li>
      <li>
        顯示所有已成交的訂單。<small class="text-danger">尚未提供後續管理，如確認遞送等功能。</small>
      </li>
      <li>Chatbot 在消費者呼叫時，會列出三項功能：產品清單、購物車、訂單記錄。</li>
      <li>Chatbot 可以列出最多十項商品。</li>
      <li>Chatbot 可以列出購物車有哪幾件商品，包括其價格、件數與總額。</li>
      <li>Chatbot 可以協助使用者在購物車進行下單。</li>
      <li>Chatbot 可以列出最近三筆的訂單記錄。</li>
  </article>
</section>
