<section>
  <h2>Profiles</h2>
  <p>
    <ul>
      <li>Email: <%= current_user.email %></li>
    </ul>
  </p>
  <p>
    <%= link_to edit_registration_path(:user) do %>
      <button type="button" class="btn btn-primary btn-sm">Modify Profiles / Password</button>
    <% end %>
  </p>
</section>
