<section>
  <h2>Shop</h2>
  <section>
    <h3>Socail Network Lining</h3>
    <p>
      <ul>
        <li>Facebook: [show uid if linked, or linking url]</li>
      </ul>
    </p>
  </section>
</section>
