<section>
  <h2>Orders</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Buyer</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Peter Lin</td>
        <td>NT$ 520</td>
        <td>
          <ul>
            <li>Product A x 3</li>
            <li>Product B x 1</li>
          </ul>
        </td>
        <td>To Deliver</td>
        <td>2019-04-17 20:36</td>
        <td>Edit | Cancel</td>
      </tr>
    </tbody>
  <table>
</section>
