<section>
  <h2>Products</h2>
  <div>
    <%= link_to('Create Products', new_product_path) %>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ProductA</td>
        <td>NT$ 100</td>
        <td>This is a product A.</td>
        <td>Edit | Remove</td>
      </tr>
    </tbody>
  <table>
</section>
